:root{
  --pj-height: 450px;
  --pj-width: 800px
}
.pixelify-sans{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bellota-text-light {
  font-family: "Bellota Text", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.bellota-text-regular {
  font-family: "Bellota Text", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bellota-text-bold {
  font-family: "Bellota Text", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.funnel-display {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body{
  background-color: rgb(25, 27, 29);
}

/* Intro Section*/
#Hello{
  display: flex;
  border: 8px solid #ffffff00;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.intro{
  color: rgb(254, 254, 247);
  font-family: "Bellota Text", sans-serif;
  font-weight: 300;
  color: rgb(216, 193, 165);
  width: 650px;
  border: 5px solid #ffffff00;
  margin-right: 100px;
}

/*-----------*/

/* Background Section*/

#background{
  margin-top: 250px;
  display: flex;
  border: 8px solid #ffffff00;
  justify-content: center;
  align-items: first baseline;
  margin-right: 100px;
  flex-wrap: wrap;
  flex-shrink: 1;
}

#bg_normal{
  color: rgb(216, 193, 165);
  font-family: "Bellota Text", sans-serif;
  font-weight: 300;
  font-size: 21px;
  border: 5px solid #ffffff00;
}

#bg_title{
  color: rgb(234, 89, 89);
  font-family: "Funnel Display";
  font-size: 22px;
  margin-left: 100px;
  margin-right: 100px;
}

#bold-text{
  font-weight: 700;
}

/* Skills Section*/

#skills{
  display: flex;
  border: 8px solid #ffffff00;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  margin-top: 250px;
  margin-right: 200px;
  flex-shrink: 1;
}

#sk_title{
  color: rgb(234, 89, 89);
  font-family: "Funnel Display";
  font-size: 22px;
  border: 5px solid #ffffff00;
  margin-right: 100px;
  margin-left: 225px;
}

#sk_normal{
  color: rgb(216, 193, 165);
  font-family: "Bellota Text", sans-serif;
  font-weight: 300;
  font-size: 21px;
  border: 5px solid #ffffff00;
}

/* -------- */

/* Project Section */

#projects{
  display: flex;
  border: 8px solid #ffffff00;
  justify-content: center;
  align-items: top;
  margin-top: 250px;
  flex-shrink: 1;
  width: 100%;
}

#images{
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  max-width: 100%;
}

#captions{
  height: 200px;
  color: rgb(216, 193, 165);
  font-family: "Bellota Text", sans-serif;
  font-weight: 300;
  font-size: 21px;
  flex-shrink: 1;
}

#pj_title{
  color: rgb(234, 89, 89);
  font-family: "Funnel Display";
  font-size: 22px;
  border: 5px solid #ffffff00;
  margin-right: 100px;
  margin-left:  200px;
  flex-shrink: 1;
}

#imgw{
  width: var(--pj-width);
  height: var(--pj-height);
  border: 5px solid #ffffff00;
  margin-bottom: 200px;
  flex-shrink: 1;
}

.caption{
  border: 5px solid #ffffff00;
  height: var(--pj-height);
  width: 250px;
  margin-bottom: 200px;
  flex-shrink: 1;
  overflow-y: scroll;
  scrollbar-color: rgb(234, 89, 89) rgba(255, 255, 255, 0);
}

/* ---------- /

/* Footer */

footer{
  display: flex;
  justify-content: space-between;
}

#inspo{
  width: 200px;
}

#credits{
  color: rgb(216, 193, 165);
  padding: 4rem 1rem;
  font-family: "Funnel Display";
  font-weight: 600;
}

#links{
  padding: 4rem 1rem;
  font-weight: 600;
}

.links{
  color: rgb(234, 89, 89);
  padding: 4rem 1rem;
  font-family: "Funnel Display";
  font-weight: 600;
  text-decoration: none;
}

a:hover{
  color: rgb(187, 69, 69);
  transition: color 0.3s;
}

/* ----------------- */

/* Media Queries */

@media (max-width: 1075px) {
  #bg_normal, #captions, #sk_normal{
    font-size: 9px;
  }
  #pj_title, #bg_title, #sk_title{
    font-size: 10px;
    margin-right: 20px;
  }
  #background{
    justify-content: left;
    flex-wrap: nowrap;
  }
  #bg_title{
    margin-left: 5px;
    margin-right:5px;
  }
  #bg_normal{
    margin-right: 0px;
    margin-left: 5px;
  }
  #skills{
    justify-content: left;
    margin-right: 0px;
  }
  #sk_title{
    margin-left: 5px;
  }
  #imgw{
    max-width: 208px;
    max-height: 117px;
    margin-bottom: 50px;
  }
  .caption{
    max-height: 117px;
    max-width: 80px;
    margin-bottom: 50px;
  }
  
  #pj_title{
    margin-left: 0px;
  }

}