
.pixelify-sans{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bellota-text-light {
  font-family: "Bellota Text", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.bellota-text-regular {
  font-family: "Bellota Text", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bellota-text-bold {
  font-family: "Bellota Text", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.funnel-display {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body{
    background-color: rgb(25, 27, 29);
}

/* Intro Section*/
#Hello{
  display: flex;
  border: 8px solid white;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  flex-wrap: wrap;
}

.intro{
  color: rgb(254, 254, 247);
  font-family: "Bellota Text", sans-serif;
  font-weight: 300;
  color: rgb(216, 193, 165);
  width: 650px;
  border: 5px solid red;
  margin-right: 100px;
}

/*-----------*/

/* Background Section*/

#background{
  margin-top: 150px;
  display: flex;
  border: 8px solid white;
  justify-content: center;
  align-items: first baseline;
  
}

#normal{
  color: rgb(216, 193, 165);
  font-family: "Bellota Text", sans-serif;
  font-weight: 300;
  font-size: 17px;
  border: 5px solid red;
  
}

#red{
  color: rgb(234, 89, 89);
  font-family: "Funnel Display";
  font-size: 18px;
  margin-left: 100px;
  margin-right: 100px;
}

#bold-text{
  font-weight: 700;
}